<footer>
    <img src="../../public/images/logo.png" alt="Logotipo escrito Meu Home Estúdio">

    <span>Fale conosco</span>
    <img src="" alt="Contato por telefone">
    <img src="" alt="Contato por WhatsApp">

    <span>Ou nos siga</span>
    <img src="../../public/images/icons/facebook.svg" alt="Ícone Facebook">
    <img src="../../public/images/icons/instagram.svg" alt="Ícone Instagram">
    <img src="../../public/images/icons/youtube.svg" alt="Ícone YouTube">
</footer>