<header>
    <nav>
        <ul>
            <h3>Escolha a categoria</h3>
            <li>Computadores</li>
            <li>Interfaces</li>
            <li>Fones de Ouvido</li>
            <li>Monitores de áudio</li>
            <li>Microfones</li>
            <li>Controladores Midis</li>
            <li>Daws</li>
            <li>Instrumentos</li>
            <li>Montar a partir do zero</li>
        </ul>
        
            <img src="/images/icons/menu-hamburguer.svg" alt="meu icon">
        
    </nav>

    <h1>Meu Home Estúdio</h1>
    <a href="/">
        <img class="logo" src="/images/logo.png" alt="Logotipo escrito Meu Home Estúdio">
    </a>
    <input type="text" placeholder="Busque aqui">

    <img class="icons" src="/images/icons/user.svg" alt="Cadastro do usuário">
    <img class="icons cart" src="/images/icons/cart.svg" alt="Carrinho de compras">

</header>