<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Home Estúdio :-)</title>
    
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/meuhomeestudio.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
    
    
</head>
<body>
    <%- include('partials/header.ejs') %>
            
    <!--
    <main>
    -->
    
        <section class="promocao">
            <img src="/images/promo.jpg" alt="Imagem de uma promoção ilustrando equipamentos de um home estúdio">
            <div>
                <h2>Quer ter um estúdio completo igual a esse?</h2>
                <span>CLIQUE AQUI!</span>
            </div>
        </section>

        

        <section class="destaques">
            <h2> Tudo que você precisa para o seu estúdio aqui! </h2>

            <div>
                <ul>
                    <li>
                        <img src="/images/icons/pc.svg" alt="Ícone de um PC">
                        <span>PCs</span>
                    </li>
                    <li>
                        <img src="/images/icons/interface.svg" alt="Ícone de uma iterface de áudio">
                        <span>Interfaces</span>
                    </li>
                    <li>
                        <img src="/images/icons/phone.svg" alt="Ícone de um fone de ouvido">
                        <span>Fones</span>
                    </li>
                    <li>
                        <img src="/images/icons/monitor.svg" alt="Ícone de um monitor de áudio">
                        <span>Monitores</span>
                    </li>
                    <li>
                        <img src="/images/icons/microfone.svg" alt="Ícone de um microfone">
                        <span>Microfones</span>
                    </li>
                    <li>
                        <img src="/images/icons/midi.svg" alt="Ícone de um controlador MIDI">
                        <span>Midis</span>
                    </li>
                    <li>
                        <img src="/images/icons/daw.svg" alt="Ícone de uma trilha edição de notas musicais">
                        <span>DAW</span>
                    </li>
                </ul>
            </div>
            
            <section class="produtosDestaque">
                    
                <div class="container">
                    <img class="icon arrowLeft" src="/images/icons/arrowleft.svg" alt="Ver produtos anteriores">
                
                    <article>
                        <img class="productPhoto" src="/images/guitarstratocorpo.png" alt="Foto de corpo da guitarra">
                        <h3>Guitarra Strato</h3>
                        <h4>De 3.500,00 por 1.799,00</h4>
                        <div class="containerIcons">
                            <img class="icon" src="/images/icons/info.svg" alt="Comprar">
                            <img class="icon" src="/images/icons/cartadd.svg" alt="Detalhes">
                        </div>
                    </article>

                    <article>
                        <img class="productPhoto" src="/images/midicontrolador.png" alt="Foto de um teclado controlador Midi">
                        <h3>Controlador Midi</h3>
                        <h4>De 2.500,00 por 1.299,00</h4>
                        <div class="containerIcons">
                            <img class="icon" src="/images/icons/info.svg" alt="Comprar">
                            <img class="icon" src="/images/icons/cartadd.svg" alt="Detalhes">
                        </div>
                    </article>
                    <img class="icon arrowRight" src="/images/icons/arrowright.svg" alt="Ver próximos produtos">
                </div>
                <div class="containerSpan">
                    <span>Ver mais -></span>
                </div>
            </section>

            <!--

        </section>
    </main>


    <%- include('partials/footer.ejs') %>
        -->
</body>
</html>