<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <link  rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
     <!-- Compiled and minified CSS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>    
</head>
<body>
   
    
            
    <script>

        $(document).ready(function(){
        $('.materialboxed').materialbox();
      });
    </script>
       
    <h1 class="blue">marcelo marcelo marcelo marcelo marcelo marcelo marcelo marcelo marcelo marcelo</h1>

    <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
            
    <img class="materialboxed" data-caption="A picture of a way with a group of trees in a park" width="250" src="/images/promo.jpg" alt="">
    <div class="card-panel">
    <span class="blue-text text-darken-2">This is a card panel with dark blue text</span>
    </div>

    <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
    
    
   
</body> 
</html>

            

